<div>
    <ion-modal-view>
        <ion-header-bar>
            <button ng-click="closeModal()">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </button>
            <h1 class="title">Give! register app</h1>
        </ion-header-bar>
        <ion-content>
            <div class="modal-text">
                <h2>Registration successful</h2>
                <span>Congratulations your Give! registration has been successful. </br> Thank You for your time! Have a nice day!</span>
            </div>
        </ion-content>
    </ion-modal-view>
</div>
